<div class="custom-file">
  <input
    type="file"
    class="custom-file-input"
    id="validatedCustomFile"
    accept=".json" (change)="onChange($event.target.files)">
  <label class="custom-file-label" for="validatedCustomFile">Wybierz plik z modelem...</label>
</div>
