<div>
  <button class="btn btn-outline-success ml-1" (click)="saveAsProject()">Zapisz model</button>
</div>
<div style="width: 100%; display: flex; justify-content: space-between">
  <div id="myPaletteDiv"
       style="width: 105px; margin-right: 2px; background-color: whitesmoke; border: solid 1px black"></div>
  <div id="myDiagramDiv" style="flex-grow: 1; height: 620px; border: solid 1px black"></div>
</div>
<div>
  <div class="col">
    <div class="row d-flex">
      <div>
        <button class="btn btn-outline-danger mr-2" id="removeModel" (click)="removeModel()">
          wyczyść obszar roboczy
        </button>
      </div>
      <div>
        <button class="btn btn-outline-secondary mr-2" id="diagramCutSets" (click)="presentCutSets()">Wyznacz ścieżki
          krytyczne
        </button>
      </div>
      <div>
        <button class="btn btn-outline-secondary mr-2" id="diagramMinCutSets" (click)="presentMinCutSets()">Wyznacz
          minimalne ścieżki krytyczne
        </button>
      </div>
      <div>
        <button class="btn btn-outline-secondary mr-2" (click)="countProbability()">wylicz prawdopodobienstwa</button>
      </div>
    </div>
    <div class="row d-block" *ngIf="cutSets">
      <strong>ŚCIEŻKI KRYTYCZNE:</strong>
      <div *ngFor="let cutSet of cutSets">{{'{' + cutSet + '}'}}</div>
    </div>
    <div class="row d-block" *ngIf="minCutSets">
      <strong>MINIMALNE ŚCIEŻKI KRYTYCZNE:</strong>
      <div *ngFor="let minCutSet of minCutSets">{{'{' + minCutSet + '}'}}</div>
    </div>
    <div class="row d-block">
      <strong>PRAWDOPODOBIEŃSTWO WYSTĄPIENIA ZDARZENIA GŁÓWNEGO: </strong>
      <div>{{probability}}</div>
    </div>
  </div>
</div>

