.input-group-text{
  background-color: white;
  padding: 2px 0 0;
  border-right-width: 0;
}

.form-control {
  border-left: none;
  padding-left: 0;
  &:focus {
    box-shadow: none;
    border-color: #ced4da;
  }
}
