<div class="col mt-2">
  <div class="row">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <div class="mr-1">Prawdopobieństwo zdarzenia wynosi:</div>
        <div *ngIf="!isCircle" class="font-italic">Wybierz zdarzenie</div>
        <form *ngIf="isCircle" (ngSubmit)="onSubmitForm()">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">0.</span>
            </div>
            <input
              type="text"
              class="form-control"
              id="probability"
              name="probability"
              maxlength="2"
              required
              pattern="[0-9][0-9]"
              #probability="ngModel"
              [(ngModel)]="formData.probability"/>
            <div class="input-group-append">
              <button
                type="submit"
                class="btn btn-outline-secondary disabled"
                [ngClass]="{ 'disabled' : !probability.valid }"
                [disabled]="!probability.valid">Zatwierdź
              </button>
            </div>
            <span class="form-text ml-1" *ngIf="!probability.valid">Proszę wprowadzić prawdopodobienstwo z dokladnoscia do czesci setnych</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
